*, *:before, *:after {
    box-sizing: border-box;
}

header {
    background-color: cornflowerblue;
    height: 150px;
    width: 100%;
}

#headerContent {
    padding: 20px;
    display: inline-block;
    float: right;
}

.title {
    text-align: center;
    margin: auto;
}

#addKoala {
    text-align: center;
    margin: auto;
}

#icon {
    padding: 25px;
    max-width: 150px;
    float: left;
    display: inline-flex;
}

#koalaTable{
    min-width: 90vw;
}

table, tr, td  {
    text-align: center;
    margin: auto;
    border: solid 1px;
    border-collapse: collapse;
}

